/.cache
**/generated/
**/target
.metadata
.ide*/*.*
**/.classpath
**/.project
**/.settings
/.idea
/.project
**/.idea/
**/*.iml/
.idea/*
*.iml
.settings/
.settings/*
project/project/
project/target/
target/
.DS_Store
*/.DS_Store
node_modules/
bower_components/
/log.txt
.config/
/coverage
.env.*